.container{
    margin: 50px 0;
}

.card{
    margin: 0 0.5% !important;
}

.infected{
    border-bottom: 10px solid rgba(0,0,255, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0,255,0, 0.5);
}

.deaths{
    border-bottom: 10px solid rgba(255,0,0, 0.5);
}

.details{
    border-bottom: 10px solid rgba(255,255,0, 0.5);
}

.cardMedia {
    max-width: 300;
    margin: "auto";
    transition: "0.3s";
    box-shadow: "0 8px 40px -12px rgba(0,0,0,0.3)";
  }

  .media {
    padding-top: 50%;
  }